In [1]:
# import pandas
import pandas as pd
 
# import TfidfTransformer from sklearn
from sklearn.feature_extraction.text import TfidfTransformer

# import CountVectorizer
from sklearn.feature_extraction.text import CountVectorizer

In [2]:
docs=["the house had a tiny little mouse",
      "the cat saw the mouse",
      "the mouse ran away from the house",
      "the cat finally ate the mouse",
      "the end of the mouse story"
     ]

# BagOfWords

* instantiate CountVectorizer()

In [3]:
ct_vector = CountVectorizer()

* use fit_transform method of CountVectorizer to 'docs' and store the result in 'word_count_vector'

In [6]:
word_count_vector = ct_vector.fit_transform(docs)

* print the shape

In [7]:
print(word_count_vector.shape)

(5, 16)

* create dataframe from word_count_vector

In [15]:
print(word_count_vector)

(0, 14)	1
  (0, 7)	1
  (0, 6)	1
  (0, 15)	1
  (0, 8)	1
  (0, 9)	1
  (1, 14)	2
  (1, 9)	1
  (1, 2)	1
  (1, 12)	1
  (2, 14)	2
  (2, 7)	1
  (2, 9)	1
  (2, 11)	1
  (2, 1)	1
  (2, 5)	1
  (3, 14)	2
  (3, 9)	1
  (3, 2)	1
  (3, 4)	1
  (3, 0)	1
  (4, 14)	2
  (4, 9)	1
  (4, 3)	1
  (4, 10)	1
  (4, 13)	1

In [19]:
word_count_vector[0,14]

1

In [23]:
import numpy as np
df = pd.DataFrame(0, index=np.arange(word_count_vector.shape[0]), columns=np.arange(word_count_vector.shape[1]))
for i in range(word_count_vector.shape[0]):
    for j in range(word_count_vector.shape[1]):
        df.iloc[i,j] = word_count_vector[i,j]
df.head()

   0   1   2   3   4   5   6   7   8   9   10  11  12  13  14  15
0   0   0   0   0   0   0   1   1   1   1   0   0   0   0   1   1
1   0   0   1   0   0   0   0   0   0   1   0   0   1   0   2   0
2   0   1   0   0   0   1   0   1   0   1   0   1   0   0   2   0
3   1   0   1   0   1   0   0   0   0   1   0   0   0   0   2   0
4   0   0   0   1   0   0   0   0   0   1   1   0   0   1   2   0

# TfIdf with TfidfTransformer

* instantiate TfidfTransformer() with following params: 
* smooth_idf=True
* use_idf=True

In [24]:
tfidf = TfidfTransformer(smooth_idf=True, use_idf=True)

* use fit_transform method of tfidf transformer on 'word_count_vector' created above and store the result in 'tf_idf_data'

In [28]:
tf_idf_data = tfidf.fit_transform(word_count_vector)

* create dataframe from 'tf_idf_data'

In [43]:
df2 = pd.DataFrame(0, index=np.arange(word_count_vector.shape[0]), columns=np.arange(word_count_vector.shape[1]))
for i in range(tf_idf_data.shape[0]):
    for j in range(tf_idf_data.shape[1]):
        df2.iloc[i,j] = tf_idf_data[i,j]

* print IDF for words in 'docs'

In [33]:

df2.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.493562,0.398203,0.493562,0.235185,0.000000,0.000000,0.000000,0.000000,0.235185,0.493562
1,0.000000,0.000000,0.483344,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.285471,0.000000,0.000000,0.599092,0.000000,0.570941,0.000000
2,0.000000,0.457093,0.000000,0.000000,0.000000,0.457093,0.000000,0.368780,0.000000,0.217807,0.000000,0.457093,0.000000,0.000000,0.435614,0.000000
3,0.513923,0.000000,0.414630,0.000000,0.513923,0.000000,0.000000,0.000000,0.000000,0.244887,0.000000,0.000000,0.000000,0.000000,0.489774,0.000000
4,0.000000,0.000000,0.000000,0.491753,0.000000,0.000000,0.000000,0.000000,0.000000,0.234323,0.491753,0.000000,0.000000,0.491753,0.468646,0.000000

# TfIdf with TfidfVectorizer

* import TfidfVectorizer

In [34]:
from sklearn.feature_extraction.text import TfidfVectorizer

* instantiate TfidfVectorizer with use_idf=True

In [35]:
tfid_vec = TfidfVectorizer(use_idf=True)

* fit and transforn 'docs' with TfidfVectorizer and store the result in 'tfidf_vectorizer_data'

In [36]:
tfidf_vectorizer_data = tfid_vec.fit_transform(docs)

* create dataframe from tfidf_vectorizer_data

In [41]:
df3 = pd.DataFrame(0, index=np.arange(tfidf_vectorizer_data.shape[0]), columns=np.arange(tfidf_vectorizer_data.shape[1]))
for i in range(tfidf_vectorizer_data.shape[0]):
    for j in range(tfidf_vectorizer_data.shape[1]):
        df3.iloc[i,j] = tfidf_vectorizer_data[i,j]

* print 'df_tf_idf'

In [42]:
df3.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.493562,0.398203,0.493562,0.235185,0.000000,0.000000,0.000000,0.000000,0.235185,0.493562
1,0.000000,0.000000,0.483344,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.285471,0.000000,0.000000,0.599092,0.000000,0.570941,0.000000
2,0.000000,0.457093,0.000000,0.000000,0.000000,0.457093,0.000000,0.368780,0.000000,0.217807,0.000000,0.457093,0.000000,0.000000,0.435614,0.000000
3,0.513923,0.000000,0.414630,0.000000,0.513923,0.000000,0.000000,0.000000,0.000000,0.244887,0.000000,0.000000,0.000000,0.000000,0.489774,0.000000
4,0.000000,0.000000,0.000000,0.491753,0.000000,0.000000,0.000000,0.000000,0.000000,0.234323,0.491753,0.000000,0.000000,0.491753,0.468646,0.000000

* print IDF for words in 'docs'