In [1]:
import pandas as pd

In [2]:
url = "https://raw.githubusercontent.com/chrisalbon/simulated_datasets/master/data.json"
first_json=pd.read_json(url)
first_json.head()

   integer            datetime  category
0        5 2015-01-01 00:00:00         0
1        5 2015-01-01 00:00:01         0
2        9 2015-01-01 00:00:02         0
3        6 2015-01-01 00:00:03         0
4        6 2015-01-01 00:00:04         0

In [4]:
first_json.to_json('json_colums.json', orient='columns')
first_json.to_json('json_index.json', orient='index')
# read_json() and to_json() works only with simple JSON. 
# All arrays inside need to have arrays of same length.

In [7]:
# gives error because arrays are not same length
# df = pd.read_json("nested.json")

In [10]:
import json
# load json object
with open('nested.json') as f:
    nested_json = json.load(f)
print(nested_json)
print(type(nested_json))

{'article': [{'id': '01', 'language': 'JSON', 'edition': 'first', 'author': 'Allen'}, {'id': '02', 'language': 'Python', 'edition': 'second', 'author': 'Aditya Sharma'}], 'blog': [{'name': 'Datacamp', 'URL': 'datacamp.com'}]}
<class 'dict'>

In [12]:
from pandas.io.json import json_normalize
pd.json_normalize(nested_json)

,article,blog
0,"[{'id': '01', 'language': 'JSON', 'edition': '...","[{'name': 'Datacamp', 'URL': 'datacamp.com'}]"

In [15]:
blog = pd.json_normalize(nested_json,record_path='blog')
blog.head()

       name           URL
0  Datacamp  datacamp.com

In [17]:
article = pd.json_normalize(nested_json,record_path='article')
article.head()

   id language edition         author
0  01     JSON   first          Allen
1  02   Python  second  Aditya Sharma

In [18]:
# define json string
data = [{'state':"Florida",
        'shortname': 'FL',
        'info': {'governor': "Rick Scott"},
        "counties":[{'name': 'Dade','population':12345},
                   {'name': 'Broward','population':40000},
                   {'name': "Palm Beach",'population':60000}]},
       {"state":"Ohio",
       'shortname':"OH",
       "info": {'governor':'John Kasich'},
       'counties':[{'name':"Summit",'population':1234},
                  {'name':'Cuyahoga','population':1337}]}]

In [20]:
pd.json_normalize(data)

,state,shortname,counties,info.governor
0,Florida,FL,"[{'name': 'Dade', 'population': 12345}, {'name...",Rick Scott
1,Ohio,OH,"[{'name': 'Summit', 'population': 1234}, {'nam...",John Kasich

In [21]:
pd.json_normalize(data=data,record_path='counties',meta=['state','shortname',['info','governor']])

         name  population    state shortname info.governor
0        Dade       12345  Florida        FL    Rick Scott
1     Broward       40000  Florida        FL    Rick Scott
2  Palm Beach       60000  Florida        FL    Rick Scott
3      Summit        1234     Ohio        OH   John Kasich
4    Cuyahoga        1337     Ohio        OH   John Kasich