In [1]:
import pandas as pd

In [2]:
from sqlalchemy import create_engine
# Postgres username, password, and database name
POSTGRES_ADDRESS = 'mid-term-project.ca2jkepgjpne.us-east-2.rds.amazonaws.com'
POSTGRES_PORT = '5432'
POSTGRES_USERNAME = 'lhl_student'
POSTGRES_PASSWORD = 'lhl_student' 
postgres_str = ('postgresql://{username}:{password}@{ipaddress}:{port}/{dbname}'.format(username=POSTGRES_USERNAME,
                                                                                        password=POSTGRES_PASSWORD, 
                                                                                        ipaddress=POSTGRES_ADDRESS,
                                                                                        port=POSTGRES_PORT,dbname='mid_term_project'))

# Create the connection
cnx = create_engine(postgres_str)

In [3]:
for i in range(16,18):
    a = 1+(i-1)*10**6
    b = i*10**6
    SQLflights = f'SELECT a.* from (SELECT ROW_NUMBER() OVER(Order by fl_date)              as ROWNUM,* from flights)          a where a.ROWNUM between {a} and {b};'
    SQLpass =    f'SELECT a.* from (SELECT ROW_NUMBER() OVER(order by departures_scheduled) as ROWNUM,* from passengers)       a where a.ROWNUM between {a} and {b};'
    SQLfuel =    f'SELECT a.* from (SELECT ROW_NUMBER() OVER(order by month)                as ROWNUM,* from fuel_comsumption) a where a.ROWNUM between {a} and {b}'
    SQLfl_test = f'SELECT a.* from (SELECT ROW_NUMBER() OVER(order by fl_date)              as ROWNUM,* from flights_test)     a where a.ROWNUM between {a} and {b}'
    with cnx.connect() as con:
        pd.read_sql(SQLflights, con).to_csv(f'flights_{a}_{b}.csv', index=False)
        #pd.read_sql(SQLpass, con).to_csv(f'passengers_{a}_{b}.csv', index=False)
        #pd.read_sql(SQLfuel, con).to_csv(f'fuel_comsumption_{a}_{b}.csv', index=False)
        #pd.read_sql(SQLfl_test, con).to_csv(f'flights_test_{a}_{b}.csv', index=False)

    con.close()