## We will be working with database chinook.db
You can download it here: https://drive.google.com/file/d/0Bz9_0VdXvv9bWUtqM0NBYzhKZ3c/view?usp=sharing

The	Chinook	Database is	about an imaginary video and music store. Each track is	stored using one of	the digital formats and	has	a genre. The store has also	some playlists,	where a single track can be	part of several	playlists. Orders are recorded	for	customers, but are called invoices. Every customer is assigned a support employee, and Employees report to other employees.

### How	many	audio tracks	in	total	were	bought	by	German	customers? And	what	was	the	total	price	paid for	them?
hint: use subquery to find all of tracks with their prices

In [ ]:
select count(invoice_items.UnitPrice), sum(invoice_items.UnitPrice) from invoice_items
  join invoices
    on invoices.invoiceId = invoice_items.invoiceId
  join customers
    on customers.CustomerId = invoices.CustomerId
   where customers.Country = "Germany"

In [ ]:
count(invoice_items.UnitPrice)	sum(invoice_items.UnitPrice)
152	156.48

### What	is	the	space,	in	bytes,	occupied	by	the	playlist	“Grunge”,	and	how	much	would	it	cost?
(Assume	that	the	cost	of	a	playlist	is	the	sum	of	the	price	of	its	constituent	tracks).

In [ ]:
select sum(tracks.Bytes), sum(invoice_items.UnitPrice), count(tracks.Name) from tracks
  left outer join playlist_track
    on playlist_track.TrackId = tracks.TrackId
   left outer join playlists
    on playlists.PlaylistId = playlist_track.PlaylistId
   left outer join invoice_items
    on invoice_items.TrackId = tracks.TrackId
   where playlists.Name LIKE "Grunge"

In [ ]:
sum(tracks.Bytes)	sum(invoice_items.UnitPrice)
130886739	6.93

### List	the	names	and	the	countries	of	those	customers	who	are	supported	by	an	employee	who	was	younger	than	35	when	hired.

In [ ]:
select customers.FirstName, customers.LastName, customers.Country from customers
  left outer join employees
    on employees.EmployeeId = customers.SupportRepId
   where cast(employees.HireDate as float)-cast(employees.BirthDate as float)<35

In [ ]:
FirstName	LastName	Country
Luís	Gonçalves	Brazil
François	Tremblay	Canada
Roberto	Almeida	Brazil
Jennifer	Peterson	Canada
Michelle	Brooks	USA
Tim	Goyer	USA
Frank	Ralston	USA
Robert	Brown	Canada
Edward	Francis	Canada
Ellie	Sullivan	Canada
Fynn	Zimmermann	Germany
Niklas	Schröder	Germany
Wyatt	Girard	France
Isabelle	Mercier	France
Terhi	Hämäläinen	Finland
Ladislav	Kovács	Hungary
Hugh	O'Reilly	Ireland
Emma	Jones	United Kingdom
Phil	Hughes	United Kingdom
Manoj	Pareek	India
Puja	Srivastava	India