In [2]:
import pandas as pd

In [43]:
riders_profile = pd.read_csv('riders_profile.csv',index_col=0)
riders_profile

,Rider,Age,Team,Rnk_pcs_ind,Diff._pcs_ind,Pnts_pcs_ind,Rnk_pcs_climb,Diff._pcs_climb,Pnts_pcs_climb,Rnk_pcs_sprint,...,Rnk_pcs_gc,Diff._pcs_gc,Pnts_pcs_gc,Rnk_pcs_tt,Diff._pcs_tt,Pnts_pcs_tt,Rnk_pcs_team,Diff._pcs_team,Team_class,Pnts_pcs_team
0,kristoff alexander,33,UAE-Team Emirates,28.0,-20.0,611.0,NaN,NaN,NaN,17.0,...,111.0,190.0,200.0,NaN,NaN,NaN,6.0,-,WT,6932.0
1,pedersen mads,24,Trek - Segafredo,26.0,72.0,625.0,396.0,128.0,10.0,30.0,...,970.0,-307.0,13.0,NaN,NaN,NaN,11.0,-,WT,4949.0
2,bol cees,25,Team Sunweb,141.0,-39.0,237.0,687.0,-365.0,2.0,37.0,...,246.0,432.0,101.0,462.0,-97.0,10.0,15.0,-,WT,4510.0
3,bennett sam,29,Deceuninck - Quick Step,12.0,6.0,828.0,128.0,301.0,58.0,2.0,...,582.0,49.0,36.0,NaN,NaN,NaN,1.0,-,WT,9229.0
4,sagan peter,30,BORA - hansgrohe,19.0,-6.0,684.0,116.0,-73.0,68.0,8.0,...,524.0,-138.0,43.0,NaN,NaN,NaN,3.0,-,WT,8117.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171,sivakov pavel,23,INEOS Grenadiers,57.0,-19.0,431.0,45.0,5.0,225.0,NaN,...,10.0,247.0,687.0,NaN,NaN,NaN,4.0,-,WT,7757.0
172,cras steff,24,Lotto Soudal,502.0,97.0,58.0,225.0,169.0,24.0,NaN,...,295.0,-58.0,84.0,NaN,NaN,NaN,8.0,-,WT,6013.0
173,ledanois kevin,27,Team Arkéa Samsic,420.0,148.0,75.0,NaN,NaN,NaN,343.0,...,607.0,-20.0,35.0,NaN,NaN,NaN,25.0,-,PCT,2229.0
174,valls rafael,33,Bahrain - McLaren,807.0,-143.0,24.0,354.0,151.0,12.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,-,WT,4948.0
175,degenkolb john,31,Lotto Soudal,147.0,-55.0,225.0,383.0,-200.0,10.0,54.0,...,546.0,12.0,41.0,NaN,NaN,NaN,8.0,-,WT,6013.0

In [44]:
Rnk_pcs_indmax = max(riders_profile['Rnk_pcs_ind'])
idx = riders_profile[riders_profile['Rnk_pcs_ind'].isna()].index
riders_profile.loc[idx,'Rnk_pcs_ind'] = Rnk_pcs_indmax + 1
riders_profile.loc[idx,['Diff._pcs_ind','Pnts_pcs_ind']] = 0

In [45]:
Rnk_pcs_clmbmax = max(riders_profile['Rnk_pcs_climb'].dropna())
idx = riders_profile[riders_profile['Rnk_pcs_climb'].isna()].index
riders_profile.loc[idx,'Rnk_pcs_climb'] = Rnk_pcs_clmbmax + 1
riders_profile.loc[idx,['Diff._pcs_climb','Pnts_pcs_climb']] = 0

In [46]:
Rnk_pcs_sprmax = max(riders_profile['Rnk_pcs_sprint'].dropna())
idx = riders_profile[riders_profile['Rnk_pcs_sprint'].isna()].index
riders_profile.loc[idx,'Rnk_pcs_sprint'] = Rnk_pcs_sprmax + 1
riders_profile.loc[idx,['Diff._pcs_sprint','Pnts_pcs_sprint']] = 0

In [47]:
Rnk_pcs_gcmax = max(riders_profile['Rnk_pcs_gc'].dropna())
idx = riders_profile[riders_profile['Rnk_pcs_gc'].isna()].index
riders_profile.loc[idx,'Rnk_pcs_gc'] = Rnk_pcs_gcmax + 1
riders_profile.loc[idx,['Diff._pcs_gc','Pnts_pcs_gc']] = 0

In [48]:
Rnk_pcs_ttmax = max(riders_profile['Rnk_pcs_tt'].dropna())
idx = riders_profile[riders_profile['Rnk_pcs_tt'].isna()].index
riders_profile.loc[idx,'Rnk_pcs_tt'] = Rnk_pcs_ttmax + 1
riders_profile.loc[idx,['Diff._pcs_tt','Pnts_pcs_tt']] = 0

In [49]:
riders_profile[riders_profile['Rnk_pcs_tt'].isna()]

Empty DataFrame
Columns: [Rider, Age, Team, Rnk_pcs_ind, Diff._pcs_ind, Pnts_pcs_ind, Rnk_pcs_climb, Diff._pcs_climb, Pnts_pcs_climb, Rnk_pcs_sprint, Diff._pcs_sprint, Pnts_pcs_sprint, Rnk_pcs_gc, Diff._pcs_gc, Pnts_pcs_gc, Rnk_pcs_tt, Diff._pcs_tt, Pnts_pcs_tt, Rnk_pcs_team, Diff._pcs_team, Team_class, Pnts_pcs_team]
Index: []

[0 rows x 22 columns]

In [51]:
riders_profile.isna().sum()

Rider               0
Age                 0
Team                0
Rnk_pcs_ind         0
Diff._pcs_ind       0
Pnts_pcs_ind        0
Rnk_pcs_climb       0
Diff._pcs_climb     0
Pnts_pcs_climb      0
Rnk_pcs_sprint      0
Diff._pcs_sprint    0
Pnts_pcs_sprint     0
Rnk_pcs_gc          0
Diff._pcs_gc        0
Pnts_pcs_gc         0
Rnk_pcs_tt          0
Diff._pcs_tt        0
Pnts_pcs_tt         0
Rnk_pcs_team        0
Diff._pcs_team      0
Team_class          0
Pnts_pcs_team       0
dtype: int64